.menu{
    display: none;
}
    .navbar-left ul {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        box-shadow: none;
    }
.navbar-left ul,
.navbar-right ul{
    height: auto;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.navbar-email {
    display: block; /* aparece en desktop */
}
.header--title-container .header--button{
    left: calc(50% - 142px);
    top: 270px;
    width: 280px;
    height: 54px;
    font-size: 2.2rem;
}
.card-carousel{
    flex: 0 0 10em;
    height: 10em;
}
.card-carousel img{
    height: 10em;
}
.why-buy__cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
}
.cards-container{
    grid-template-columns: repeat(auto-fill, 320px);
}
.product-card{
    width: 320px;
}
.product-card img{
    width: 320px;
    height: 320px;
}
.product-info div p:nth-child(1){
    font-size: 1.4rem;
}
.product-info div p:nth-child(2){
    font-size: 1.8rem;
}
.product-info div p:nth-child(3){
    font-size: 1.4rem;
}
/* =====================================
FOOTER
===================================== */
.benefits{
    grid-template-columns: repeat(4,1fr);
}
.trust-container{
    padding: 6rem 8rem;

}

/* =====================================
FOOTER
===================================== */
footer ul li a{
    font-size: 1.5rem;
    font-weight: 500;

}
