.menu{
    display: none;
}


    .navbar-left ul {
        display: flex !important; /* menú siempre visible */
        flex-direction: row;
        position: static;
        width: auto;
        box-shadow: none;
    }
.navbar-left ul,
.navbar-right ul{
    height: auto;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.navbar-email {
    display: block; /* aparece en desktop */
}
.header--title-container .header--button{
    width: 280px;
    height: 54px;
    font-size: 1.8rem;
    font-weight: 600;
}
.backgroundVideo {
    display: block; /* ocultar en mobile */
    height: 650px;
}
.img-container img {
    display: none;
}
.card-carousel{
    flex: 0 0 10em;
    height: 10em;
}
.card-carousel img{
    height: 10em;
}
.why-buy__cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;

}