.header--title-container .header--button{
    left: calc(50% - 134px);
    top: 290px;
    width: 260px;
    height: 50px;
    font-size: 2rem;
    font-weight: 600;
}
.benefits{
    grid-template-columns: repeat(2, 1fr);
}